{% extends "_layout/global" %}


{% block content %}

      {# ------- Variables ------- #}
 
      <main id="app" role="main">
        <cats-meow></cats-meow>
      </main>

      {# ------- Template ------- #}

{% endblock %}